<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="wrapper-login">
      <div class="form-container">
        <form action="/login" method="post">
          <label for="usermail">Your Email *</label>
          <input type="email" id="usermail" name="usermail" required />
          <label for="password">Your Password *</label>
          <input type="password" id="password" name="password" required />
          <button>Login</button>
        </form>
        <p>Not registered yet? </p>
        <a href="/register">Register Now</a>
      </div>
    </div>
  </body>
</html>
