<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="wrapper-multiple">
      <div class="multiple-container">
        <h2>Vote for a delicious flavor and we get you that!!</h2>
        <h4>
          Login here to vote. You can even list a new flavor we didn't think
          of!!!
        </h4>
        <a href="/login">Log In</a>
        <h4>Don't have an account already? Please register here!!</h4>
        <a href="/register">Register</a>
      </div>
    </div>
  </body>
</html>
